
<%= form_for tool do |f| %>
<div class="form-group">
  <label for="name">Material's name:</label>
  <%= f.text_field :name, class: 'form-control'  %>
</div>
<div class="form-group">
  <label for="description">Material's Description:</label>
  <%= f.text_field :description, class: 'form-control'  %>
</div>
<div class="form-group">
  <label for="price">Price by day:</label>
  <%= f.text_field :price, class: 'form-control'  %>
</div>
<div class="form-group">
  <label for="name">Material's Address:</label>
  <%= f.text_field :address, class: 'form-control'  %>
</div>
<div class="form-group">
  <%= f.submit "add Tool", class:"btn btn-primary" %>
</div>
<% end %>
