<h1>Tools index</h1>

  <div class="search_bar">
    <%= form_tag(tools_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
    <% end %>
  </div>

  <% @tools.each do |tool|%>
  <div class="tool">
    <h1><%= tool.name %></h1>
    <p><%= tool.description %></p>
    <p><%= tool.price  %>$/hour</p>
    <p><%= tool.address %></p>
    <p><%= tool.user.first_name %></p>
    <p><%= link_to 'see tool', tool_path(tool) %></p>
  </div>
  <% end  %>
