<h1>tool show</h1>

<h1><%= @tool.name  %></h1>
<p><%= @tool.description %></p>
<p><%= @tool.price  %>$/hour</p>
<p id="address" class="toolAddress"><%= @tool.address %></p>
<p><%= @tool.user.first_name %></p>
<% if current_user == @tool.user %>
<%= link_to "detele this tool", tool_path, method: :delete%>
<% end %>

<div id="mapid" >

</div>

<h2>Borrow this tool:</h2>

<% if current_user %>
  <%= render partial: 'reservations/form', locals: {tool: @tool, reservation: @reservation} %>
<% else %>
  <p>if you want to borrow this tools, please <%= link_to 'Log In', new_session_path %></p>
<% end %>
