<% if current_user == @user %>
  <h2>Reservations for your tools:</h2>
  <div class= "reservations">
    <div class="pending_res">
      <h3>Pending:</h3>
      <% @reservations_pending.each do |res|  %>
          <h4><%= res.tool.name %></h4>
          <p>From: <%= res.reservation_time_start.strftime("%m/%d/%Y") %></p>
          <p>To: <%= res.reservation_time_end.strftime("%m/%d/%Y") %></p>
          <p>Requestor: <%= res.user.full_name %></p>
          <p>Status: <%= res.status %></p>
          <p><%= link_to 'Accept', "/tools/#{res.tool.id}/reservations/#{res.id}?status=accepted" , method: :put, class: "btn btn-success" %>
            <%= link_to 'Decline', "/tools/#{res.tool.id}/reservations/#{res.id}?status=declined" , method: :put, class: "btn btn-danger" %>
          </p>
      <% end %>
      </div>
      <div class="accepted_res">
        <h3>Approved:</h3>
      <% @reservations_accepted.each do |res| %>
          <h4><%= res.tool.name %></h4>
          <p>From: <%= res.reservation_time_start.strftime("%m/%d/%Y")%></p>
          <p>To: <%= res.reservation_time_end.strftime("%m/%d/%Y") %></p>
          <p>Requestor:<%= res.user.full_name %></p>
          <p>Status: <%= res.status %></p>
      <% end %>
      </div>
      <div class="declined_res">
        <h3>Declined:</h3>
      <% @reservations_declined.each do |res| %>
          <h4><%= res.tool.name %></h4>
          <p>From: <%= res.reservation_time_start.strftime("%m/%d/%Y") %></p>
          <p>To: <%= res.reservation_time_end.strftime("%m/%d/%Y") %></p>
          <p>Requestor:<%= res.user.full_name %></p>
          <p>Status: <%= res.status %></p>
      <% end %>
      </div>
  </div>
<% end %>
