<% if reservation.errors.any? %>
  <% reservation.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for([tool, reservation]) do |f| %>
<div class="reservation_form">
  <div class="form-group">
    <label for="reservation_time_start"><h2>From:</h2></label>
    <%= f.date_field :reservation_time_start, class: 'form-control', min: Time.now %>
    <br>
  <div class="form-group">
    <label for="reservation_time_end"><h2>to:</h2></label>
     <%= f.date_field :reservation_time_end, class: 'form-control', min: Time.now %>
  </div>
  <div class="form-group">
    <%= f.submit "Book this tool", class:"btn btn-primary" %>
  </div>
</div>
<% end  %>
