<!DOCTYPE html>
<html>
  <head>
    <title>CanIborrow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
       integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
       crossorigin="">
    </script>


  </head>
  <header>
    <div class="nav_bar">
    <nav>
      <ul class="header_nav">
        <li><%= link_to 'Home', tools_path %></li>
      <% if current_user %>
        <li>Signed in as <%= link_to("#{current_user.email}", user_path(current_user)) %></li>
        <li><%= link_to 'Log out', session_path("current"), :method => :delete  %></li>
        <li><%= link_to 'Add tool', new_tool_path %></li>
      <% else %>
        <li><%= link_to 'Log In', new_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_path %></li>
      <% end %>
      </nav>
    </ul>
  </div>

  </header>
  <body>
    <%= yield %>
  </body>
  <footer>

  </footer>
</html>
